#page-reservation {
    width: 100vw;
    height: 100vh;
}

.page-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 2.6rem 0;
}

.page-header > img {
    height: 7.6rem;
}

.page-header a {
    border-radius: 0.8rem;
    font: 700 1.6rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #505050;
}

main {
    width: 90%;
    margin: 0 auto;
}

main .main-item-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-item-menu select {
    cursor: pointer;
    border-radius: 0.8rem;
    background: #fff;
    border: 1px solid #cacad1;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.8rem Archivo;
    height: 6rem;
    margin: 1rem 0rem 1.6rem 0rem;
    color: #505050;
}

#name-week {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
    font-size: 2.3rem;
}

.main-item-menu b {
    margin-left: 0.8rem;
}

#name-lab {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
    font-size: 2.3rem;
    border-radius: 5px;
    background: #c7c7c7;
}

main .main-content-reservation {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.caixa {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #505050;

    background-color: #c7c7c7;
    border-radius: 5px;
    height: 9rem;
}

.caixa p {
    font-size: 1.8rem;
    font-family: Archivo;
}

#alert-dialog-title p{
    font-size: 2.2rem;
    color: #242424;
}

#btn-confirm-modal {
    color: green;
    font-size: 1.6rem;
}

#btn-exit-modal {
    font-size: 1.6rem;
}

#alert-dialog-description-dashboard p{
    font-size: 1.8rem;
    color: #717171;
}

#alert-dialog-description-dashboard hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#alert-dialog-description-dashboard button {
    font-size: 1.2rem;
}

.teste {
    background-color: #219653;
    color: #fff;
}


@media (min-width: 1100px){
    #page-reservation{
        max-width: 1100px;
    }
    main .main-content-reservation {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
    }

    main .main-item-menu {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        padding: 1.6rem 0;
    }

    #hours-parh {
        font: 700 2.2rem Archivo;
    }
    
    #total-vacancies {
        font: 400 1.8rem;
    }
}